body {
    font-family: 'Magic', sans-serif;
    background-color: #333333;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Magic', sans-serif;
    background-color: #004a04;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

.header {
    justify-content: center;
    position: relative;
}
  
#loginButton {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Main column */
.column.main {
    width: 100%;
}

#cardTable input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

button {
    font-family: 'Magic', sans-serif;
    background-color: #004a04;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=text], button {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
}

button:hover {
    background-color: #003102;
}

#cardTable th {
    padding: 10px 20px;
}

#cardTable td {
    padding: 5px 10px; 
    text-align: left; 
}

@font-face {
    font-family: 'Magic';
    src: url('magic.TTF') format('truetype');
}

footer {
    font-family: 'Magic', sans-serif;
    background-color: #004a04;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}
/* Style for the navigation bar */
nav {
    background-color: #004a04;
    color: #FFFFFF;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
}

#addCardSection, #cardListSection, #folderSection {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 1; /* Sit on top */
}
 
.modal-content {
  background-color: #7a7272;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #373737;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
