/* added for card table when clicking folder name/ i don't think its needed as it wasn't working for me */
.table-wrapper {
    max-height: 300px; 
    overflow-y: auto;
}

/* need tooltip and tooltip img for finance hover function */
.card-tooltip {
    position: absolute;
    z-index: 9999;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-tooltip img {
    display: block;
    width: 225px; 
    height: 250px; 
    max-width: 100%; 
    max-height: 100%; 
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

img {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
}

.popup-menu, .card-options-menu {
    position: absolute;
    background:#595C4F;
    display: none;
    color:#F4DBA6;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;    
    max-height: 300px;
    overflow-y: auto;
}

.card-options-menu a {
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    color:#F4DBA6;
}

.card-options-menu a:hover {
    color:#EAC67A;
}

.popup-menu table {
    border-collapse: collapse;
}

.popup-menu td {
    border: 1px solid #ddd;
    padding: 5px;
}

body {
    font-family: 'Magic', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:#595C4F;
}

h2 {
    padding-bottom: 50px;
    text-align: center;
}

h3 {
    padding-bottom: 50px;
    padding-top: 40px;
    font-size: 40px;
}

h4 {
    font-size: larger;
    font-weight: normal;
    color:#F4DBA6
}

h5 {
    font-size: 30px;
    text-align: center;
}

h6 {
    font-size: larger;
}

.site-header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 80px;
    padding-right: 80px;
    z-index: 1000px;
    box-sizing: border-box;
    /* color:#EAC67A; */
    font-size: 35px;
    background-color: #48483A;
}

.site-header .title {
    margin: 0; 
    font-size: 200px;
    color:#EAC67A;
    font-style: normal;
}

.container {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#cardTable input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .container, .site-header {
        width: 100%;
    }
}

#addCardSection, #cardListSection, #folderSection {
    padding-top: 25px;
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
    margin-left: 0px;
    color: #F4DBA6;
    font-size: xx-large;
}

#addCardSection {
    background-color: #A28F9D;
    padding-bottom: 25px;
    padding-top: 5px;
    margin-top: 0;
}

#cardListSection {
    background-color: #74776B;
    padding-bottom: 100px;
    overflow: auto;
}

#folderSection {
    background-color: #595C4F;
}

input[type=text], button {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    font-size: large;
    font-family: 'Magic', sans-serif;
}

button {
    font-family: 'Magic', sans-serif;
    background-color: #EAC67A;
    color: #48483A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

button:hover {
    background-color: #bb9f62;
}

#cardTable th {
    padding: 10px 20px;
}

@font-face {
    font-family: 'Magic';
    src: url('magic.TTF') format('truetype');
}

footer {
    background-color: #48483A;
    color: #F4DBA6;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
    text-align: center;
    width: 100%;
}

nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 85%;
    text-decoration: none;
}

nav li a{
    color:#F4DBA6;
    margin-left: 25px;
    text-decoration: none;
}

nav li {
    margin-left: 20px;
}

nav a:hover {
    color: #EAC67A; 
}

#folderList {
    margin-top: 10px;
}

ul#folderList {
    list-style-type: none;
    padding-left: 0;
}

ul#folderList li::before {
    content: none;
}

ul#folderList input[type="checkbox"] {
    display: none;
}

.folder-item {
    margin-bottom: 10px;
}

select#color {
    width: 200px;
    padding: 10px;
}

.card-image-popup {
    position: absolute;
    display: none;
    z-index: 1000;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card-image-popup img {
    max-width: 200px;
    max-height: 300px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000; 
    position: absolute;
    width: 100%;
    background-color: #fff;
    color: #48483A;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.ui-menu-item {
    padding: 5px;
    cursor: pointer;
}
.ui-menu-item:hover {
    background-color: #f0f0f0;
}

.options-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #F4DBA6
}

.options-button {
    /* color: #F4DBA6; */
    text-decoration: underline;
    border: none;
    padding: 5px 10px;
}

.options-menu-content {
    display: none;
    position: absolute;
    color: #F4DBA6;
    min-width: 80px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

/* .options-menu-content a {
    color: #F4DBA6;
    display: block;
    text-align: left;
}

.options-menu-content a:hover {
    color: #7a85ea;
} */

/* not sure where this is for */
.folderCardList {
    max-height: 500px;
    overflow-y: auto;
}

.button-container {
    display: inline;
    align-items: center;
}

.button-container button {
    width: 150px;  
    height: 50px;   
    flex-grow: 0;  
    flex-shrink: 0; 
    margin: 20px;
}

.finance-top {
    background-color: #A28F9D;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
}

.finance-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.finance-table th,.finance-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.finance-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* may not need */
.finance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.finance-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.finance-column {
    flex: 1;
    padding: 10px;
}

.finance-column h2 {
    text-align: center;
    font-size: x-large;
}

.finance-card {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.finance-card p {
    margin: 5px 0;
}

.winners-section {
    background-color: #74776B;
    width: 100%;
    /* padding-top: 10px; */
    padding-bottom: 50px;
    color:#F4DBA6;
}

.losers-section {
    background-color: #595C4F;
    width: 100%;
    /* padding-top: 10px; */
    padding-bottom: 50px;
    color:#F4DBA6;
}

.card-tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#about-section {
    text-align: center;
    background-color: #A28F9D;
    padding-top: 20px;
    padding-bottom: 75px;
    justify-content: space-between;
    width: 100%;
    font-size: 25px;
    color:#F4DBA6;
}

#about-section nav li a{
    color:#F4DBA6;
}

#about-section a {
    color: #3C1642;
    text-decoration: underline;
}

#about-section a:hover {
    color: #EAC67A;
}

#cardDetailsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: flex-start; 
}

.card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#74776B; 
    color:#F4DBA6;
    padding: 10px;
    width: 200px;
    height: 300px;
}

.card-details img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;
}

.price-section {
    text-align: center;
    font-size: larger; 
    color: #F4DBA6;
    background-color:#74776B; 
    width: 220px;
}
